In [1]:
 import pyspark
 print(pyspark.__version__)
 print(pyspark.__file__)

3.3.2
/home/de-camptliu/spark/spark-3.3.2-bin-hadoop3/python/pyspark/__init__.py

In [2]:
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-10.parquet

--2025-03-01 00:06:35--  https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-10.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 18.161.140.201, 18.161.140.124, 18.161.140.125, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|18.161.140.201|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 64346071 (61M) [binary/octet-stream]
Saving to: ‘yellow_tripdata_2024-10.parquet’

yellow_tripdata_202 100%[===================>]  61.36M   161MB/s    in 0.4s

2025-03-01 00:06:35 (161 MB/s) - ‘yellow_tripdata_2024-10.parquet’ saved [64346071/64346071]

In [4]:
# Create a local spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

25/03/01 00:08:28 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/03/01 00:08:29 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [30]:
df = spark.read \
    .option("header", "true") \
    .parquet('yellow_tripdata_2024-10.parquet')
df.show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2024-10-01 00:30:44|  2024-10-01 00:48:26|              1|          3.0|         1|                 N|         162|         246|           1|       18.4|  1.0|    0.5|       1.5|         0.0|                  1.0|        24.9|                 2.5|        0.0|
|       1| 2024-10-01 00:12:20|  2024-10-01 00:25:25|              1|          2.2|         1|                 N|          48|         236|           1|       14.2|  3.5|    0.5|       3.8|         0.0|                  1.0|        23.0|                 2.5|        0.0|
|       1| 2024-10-01 00:04:46|  2024-10-01 00:13:52|              1|          2.7|         1|                 N|         142|          24|           1|       13.5|  3.5|    0.5|       3.7|         0.0|                  1.0|        22.2|                 2.5|        0.0|
|       1| 2024-10-01 00:12:10|  2024-10-01 00:23:01|              1|          3.1|         1|                 N|         233|          75|           1|       14.2|  3.5|    0.5|       2.0|         0.0|                  1.0|        21.2|                 2.5|        0.0|
|       1| 2024-10-01 00:30:22|  2024-10-01 00:30:39|              1|          0.0|         1|                 N|         262|         262|           3|        3.0|  3.5|    0.5|       0.0|         0.0|                  1.0|         8.0|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 5 rows

In [33]:
df.count()

3833771

In [15]:
df_repartitioned.write.parquet('df_repart') 
!ls -lh

total 62M
drwxr-xr-x 2 de-camptliu de-camptliu 4.0K Mar  1 00:52 df_repart
drwxr-xr-x 2 de-camptliu de-camptliu 4.0K Mar  1 00:15 df_repartitioned
drwxr-xr-x 2 de-camptliu de-camptliu 4.0K Mar  1 00:48 df_repartitioned1
-rw-rw-r-- 1 de-camptliu de-camptliu  14K Mar  1 00:51 homework.ipynb
-rw-rw-r-- 1 de-camptliu de-camptliu  13K Feb 22  2024 taxi_zone_lookup.csv
-rw-rw-r-- 1 de-camptliu de-camptliu 7.1K Feb 28 23:39 test.ipynb
-rw-rw-r-- 1 de-camptliu de-camptliu    9 Feb 28 21:41 test.py
-rw-rw-r-- 1 de-camptliu de-camptliu  62M Dec 18 21:21 yellow_tripdata_2024-10.parquet
drwxr-xr-x 2 de-camptliu de-camptliu 4.0K Feb 28 23:23 zones

In [16]:
!ls df_repart/

_SUCCESS
part-00000-6a462667-40bb-4358-a8f7-fa54a02a5479-c000.snappy.parquet
part-00001-6a462667-40bb-4358-a8f7-fa54a02a5479-c000.snappy.parquet
part-00002-6a462667-40bb-4358-a8f7-fa54a02a5479-c000.snappy.parquet
part-00003-6a462667-40bb-4358-a8f7-fa54a02a5479-c000.snappy.parquet

In [17]:
!ls -lh df_repart/

total 97M
-rw-r--r-- 1 de-camptliu de-camptliu   0 Mar  1 00:52 _SUCCESS
-rw-r--r-- 1 de-camptliu de-camptliu 25M Mar  1 00:52 part-00000-6a462667-40bb-4358-a8f7-fa54a02a5479-c000.snappy.parquet
-rw-r--r-- 1 de-camptliu de-camptliu 25M Mar  1 00:52 part-00001-6a462667-40bb-4358-a8f7-fa54a02a5479-c000.snappy.parquet
-rw-r--r-- 1 de-camptliu de-camptliu 25M Mar  1 00:52 part-00002-6a462667-40bb-4358-a8f7-fa54a02a5479-c000.snappy.parquet
-rw-r--r-- 1 de-camptliu de-camptliu 25M Mar  1 00:52 part-00003-6a462667-40bb-4358-a8f7-fa54a02a5479-c000.snappy.parquet

In [18]:
df.write.parquet('df') 
!ls -lh df/

total 79M
-rw-r--r-- 1 de-camptliu de-camptliu   0 Mar  1 00:52 _SUCCESS
-rw-r--r-- 1 de-camptliu de-camptliu 22M Mar  1 00:52 part-00000-a410ed7c-9e92-4411-838b-e0b84d42d8a3-c000.snappy.parquet
-rw-r--r-- 1 de-camptliu de-camptliu 22M Mar  1 00:52 part-00001-a410ed7c-9e92-4411-838b-e0b84d42d8a3-c000.snappy.parquet
-rw-r--r-- 1 de-camptliu de-camptliu 22M Mar  1 00:52 part-00002-a410ed7c-9e92-4411-838b-e0b84d42d8a3-c000.snappy.parquet
-rw-r--r-- 1 de-camptliu de-camptliu 14M Mar  1 00:52 part-00003-a410ed7c-9e92-4411-838b-e0b84d42d8a3-c000.snappy.parquet

In [48]:
from pyspark.sql.functions import col, to_date, unix_timestamp, broadcast

In [38]:
#Q3:
# Convert timestamp to date and filter for October 15th
df_filtered = df_repartitioned.withColumn("pickup_datetime", to_date(col("tpep_pickup_datetime"))) \
                .filter(col("pickup_datetime") == "2024-10-15")

# Count the trips
trip_count = df_filtered.count()

print(f"Number of taxi trips on October 15th: {trip_count}")

Number of taxi trips on October 15th: 128893

In [34]:
#Using Spark SQL
df_repartitioned.createOrReplaceTempView("taxi_trips")

result = spark.sql("""
    SELECT COUNT(*) AS trip_count 
    FROM taxi_trips 
    WHERE (tpep_pickup_datetime>= '2024-10-15') AND (tpep_pickup_datetime < '2024-10-16')
    --- WHERE DATE(pickup_datetime) = '2024-10-15'
""")

result.show()

+----------+
|trip_count|
+----------+
|    128893|
+----------+

In [39]:
#Q4
# Calculate trip duration in hours
df_with_duration = df.withColumn("trip_duration_hours",
    (unix_timestamp(col("tpep_dropoff_datetime")) - unix_timestamp(col("tpep_pickup_datetime"))) / 3600
)

# Find the maximum trip duration
max_duration = df_with_duration.selectExpr("MAX(trip_duration_hours) AS longest_trip_hours").collect()[0][0]

print(f"Longest trip duration: {max_duration:.2f} hours")

Longest trip duration: 162.62 hours

In [36]:
#
result = spark.sql("""
    SELECT MAX((UNIX_TIMESTAMP(tpep_dropoff_datetime) - UNIX_TIMESTAMP(tpep_pickup_datetime)) / 3600) AS longest_trip_hours
    FROM taxi_trips
""")
result.show()

+------------------+
|longest_trip_hours|
+------------------+
|162.61777777777777|
+------------------+

In [40]:
# Q6
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv

--2025-03-01 01:30:36--  https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 18.161.140.125, 18.161.140.41, 18.161.140.201, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|18.161.140.125|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12331 (12K) [text/csv]
Saving to: ‘taxi_zone_lookup.csv.1’

taxi_zone_lookup.cs 100%[===================>]  12.04K  --.-KB/s    in 0s

2025-03-01 01:30:36 (161 MB/s) - ‘taxi_zone_lookup.csv.1’ saved [12331/12331]

In [41]:
!head taxi_zone_lookup.csv

"LocationID","Borough","Zone","service_zone"
1,"EWR","Newark Airport","EWR"
2,"Queens","Jamaica Bay","Boro Zone"
3,"Bronx","Allerton/Pelham Gardens","Boro Zone"
4,"Manhattan","Alphabet City","Yellow Zone"
5,"Staten Island","Arden Heights","Boro Zone"
6,"Staten Island","Arrochar/Fort Wadsworth","Boro Zone"
7,"Queens","Astoria","Boro Zone"
8,"Queens","Astoria Park","Boro Zone"
9,"Queens","Auburndale","Boro Zone"

In [43]:
df_zone = spark.read \
    .option("header", "true") \
    .csv('taxi_zone_lookup.csv')
df_zone.show(5)

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 5 rows

In [49]:
df_joined = df_repartitioned.join(broadcast(df_zone), df_repartitioned["PULocationID"] == df_zone["LocationID"], "inner")
df_joined.show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+---------+--------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|LocationID|  Borough|                Zone|service_zone|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+---------+--------------------+------------+
|       1| 2024-10-07 16:40:43|  2024-10-07 18:10:56|              1|         14.8|        99|                 N|         127|         225|           1|       47.5|  0.0|    0.5|       0.0|        6.94|                  0.0|       54.94|                 0.0|        0.0|       127|Manhattan|              Inwood|   Boro Zone|
|       2| 2024-10-04 14:17:41|  2024-10-04 14:26:47|              1|          1.1|         1|                 N|         113|         211|           1|        9.3|  0.0|    0.5|      2.66|         0.0|                  1.0|       15.96|                 2.5|        0.0|       113|Manhattan|Greenwich Village...| Yellow Zone|
|       2| 2024-10-01 11:17:28|  2024-10-01 11:32:18|              1|         4.63|         1|                 N|         231|         170|           1|       21.9|  0.0|    0.5|      5.18|         0.0|                  1.0|       31.08|                 2.5|        0.0|       231|Manhattan|TriBeCa/Civic Center| Yellow Zone|
|       1| 2024-10-08 17:12:07|  2024-10-08 17:35:56|              1|          2.4|         1|                 N|         236|         100|           1|       19.8|  5.0|    0.5|      5.25|         0.0|                  1.0|       31.55|                 2.5|        0.0|       236|Manhattan|Upper East Side N...| Yellow Zone|
|       1| 2024-10-01 15:37:08|  2024-10-01 15:54:23|              1|          2.1|         1|                 N|         237|          75|           1|       16.3|  2.5|    0.5|      4.05|         0.0|                  1.0|       24.35|                 2.5|        0.0|       237|Manhattan|Upper East Side S...| Yellow Zone|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+---------+--------------------+------------+
only showing top 5 rows

In [52]:
df_joined.createOrReplaceTempView("joined")

In [54]:
result = spark.sql('''
    SELECT Zone, sum(1) AS num 
    FROM joined
    GROUP BY Zone
    ORDER BY num
    LIMIT 1
''')
result.show()

+--------------------+---+
|                Zone|num|
+--------------------+---+
|Governor's Island...|  1|
+--------------------+---+

In [56]:
# Using function
from pyspark.sql import functions as F

# Assuming 'joined' is your DataFrame
result_df = df_joined.groupBy("Zone") \
                  .agg(F.count(F.lit(1)).alias("num")) \
                  .orderBy("num") \
                  .limit(1)

# Show the result
result_df.show()

+--------------------+---+
|                Zone|num|
+--------------------+---+
|Governor's Island...|  1|
+--------------------+---+